:host {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background: linear-gradient(135deg, #1181cb, #25f5fc);
  
    h1 {
      text-align: center;
      color: black;
      padding: 5px;
      justify-content: center;
      margin-bottom: 1rem;

    }

    h5{
        text-align: center;
        color: white;
        padding: 5px;
      } 
    
    form {
      background: rgb(255, 255, 255);
      padding: 2rem;
      border-radius: 2px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      width: 450px;
      display: flex;
      flex-direction: column;
      
  
      input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
  
        &:focus {
          border-color: #2575fc;
        }
      }
  
      button {
        padding: 10px;
        background: #2575fc;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background: #1a5ed8;
        }
      }
    }
  }
  